Repository Desead/swapers: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, base-must-include-base-css, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # i18n — шаблоны
      - id: i18n-templates-no-raw-cyrillic
        name: "i18n (templates): forbid raw Cyrillic outside trans"
        entry: python tools/check_i18n_templates.py
        language: python
        files: '^(templates/|app_main/templates/).*\.(html?|jinja2)$'
        pass_filenames: true

      # i18n — python
      - id: i18n-python-no-raw-cyrillic
        name: "i18n (python): forbid raw Cyrillic outside gettext"
        entry: python tools/check_i18n_python.py
        language: python
        types: [python]
        exclude: >
          (?x)
          (^\.venv/|^venv/|^env/|^\.git/)|
          (^app_main/migrations/)|
          (^manage\.py$)

      # без инлайновых style/script
      - id: templates-no-inline-assets
        name: "templates: forbid inline <style>/<script>"
        entry: python tools/check_no_inline_assets.py
        language: python
        files: '^(templates/|app_main/templates/).*\.(html?|jinja2)$'
        pass_filenames: true

      # base.html обязан подключать css/base.css
      - id: base-must-include-base-css
        name: "base.html must include css/base.css"
        entry: python tools/check_base_css_link.py
        language: python
        files: '^templates/base\.html$'
        pass_filenames: true

      # запрет кириллицы в именах шаблонов/папок
      - id: templates-no-cyrillic-filenames
        name: "templates: forbid Cyrillic in filenames"
        entry: python tools/check_no_cyrillic_template_filenames.py
        language: python
        files: '^(templates/|app_main/templates/).*\.(html?|jinja2)$'
        pass_filenames: true

      # <html lang="{{ CUR_LANG }}">
      - id: templates-require-html-lang
        name: 'templates: require <html lang="{{ CUR_LANG }}">'
        entry: python tools/check_html_lang_attr.py
        language: python
        files: '^(templates/|app_main/templates/).*\.(html?|jinja2)$'
        pass_filenames: true

      # страницы с <html> обязаны иметь {% load i18n %}
      - id: templates-require-load-i18n
        name: 'templates: require {% load i18n %} on pages with <html>'
        entry: python tools/check_html_requires_i18n.py
        language: python
        files: '^(templates/|app_main/templates/).*\.(html?|jinja2)$'
        pass_filenames: true

  # базовая гигиена
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

делаем сайт мультиязычным
  app_main/static/css/base.css
  app_main/templatetags/__init__.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  templates/base.html
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, base-must-include-base-css, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  swapers/settings/base.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  locale/en/LC_MESSAGES/django.po
  swapers/settings/dev.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/signals.py
  app_main/sitemaps.py
  requirements.txt
  swapers/urls.py
  templates/_account_backup/signup.html
  templates/_account_backup/verification_sent.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  docs/README.md
  readme.md
  swapers/settings/prod.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  swapers/old_settings.py
  templates/_account_backup/password_change.html
  templates/_account_backup/password_reset.html
  templates/_account_backup/password_reset_done.html
  templates/_account_backup/password_reset_from_key.html
  templates/_account_backup/password_reset_from_key_done.html
  templates/_account_backup/password_set.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  app_main/middleware.py
  templates/_account_backup/login.html
  templates/_account_backup/logout.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  tools/check_base_css_link.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  tools/check_no_inline_assets.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  templates/_account_backup/confirm_email.html
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  templates/_account_backup/email.html
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  templates/home.html
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  app_main/templatetags/i18n_extras.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/migrations/0003_sitesetup_domain_sitesetup_domain_view_and_more.py
Due: none

делаем сайт мультиязычным
  templates/404.html
  templates/500.html
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  app_main/admin.py
  pytest.ini
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  templates/_account_backup/account_delete.html
  templates/_account_backup/account_inactive.html
  templates/_account_backup/bak/account_delete.html.bak
  templates/_account_backup/bak/account_inactive.html.bak
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  templates/_account_backup/bak/confirm_email.html.bak
  templates/_account_backup/bak/email.html.bak
  templates/_account_backup/bak/login.html.bak
  templates/_account_backup/bak/logout.html.bak
  templates/_account_backup/bak/password_change.html.bak
  templates/_account_backup/bak/password_reset.html.bak
  templates/_account_backup/bak/password_reset_done.html.bak
  templates/_account_backup/confirm_email.html
  templates/_account_backup/email.html
  templates/_account_backup/login.html
  templates/_account_backup/logout.html
  templates/_account_backup/password_change.html
  templates/_account_backup/password_reset.html
Due: i18n-templates-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  .pre-commit-config.yaml
Due: none

делаем сайт мультиязычным
  tools/check_html_lang_attr.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  tools/check_html_requires_i18n.py
  tools/check_i18n_python.py
  tools/check_i18n_templates.py
  tools/check_no_cyrillic_template_filenames.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  .pre-commit-config.yaml
  app_main/models.py
  app_main/sitemaps.py
  app_main/tests/conftest.py
  app_main/tests/test_admin_path_pytest.py
  app_main/tests/test_allauth_pages_smoke.py
  app_main/tests/test_csp_header_pytest.py
  app_main/tests/test_i18n_pytest.py
  app_main/tests/test_seo_pytest.py
  app_main/tests/test_site_setup.py
  readme.md
  templates/_account_backup/bak/password_reset_from_key.html.bak
  templates/_account_backup/bak/password_reset_from_key_done.html.bak
  templates/_account_backup/bak/password_set.html.bak
  templates/_account_backup/bak/signup.html.bak
  templates/_account_backup/bak/verification_sent.html.bak
  templates/_account_backup/password_reset_done.html
  templates/_account_backup/password_reset_from_key.html
  templates/_account_backup/password_reset_from_key_done.html
  templates/_account_backup/password_set.html
  templates/_account_backup/signup.html
  templates/_account_backup/verification_sent.html
  templates/dashboard.html
  tools/check_i18n_python.py
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

делаем сайт мультиязычным
  .pre-commit-config.yaml
  tools/check_base_css_link.py
  tools/check_html_lang_attr.py
  tools/check_html_requires_i18n.py
  tools/check_i18n_python.py
  tools/check_i18n_templates.py
  tools/check_no_cyrillic_template_filenames.py
  tools/check_no_inline_assets.py
  tools/i18n_wrap_py.py
  tools/i18n_wrap_templates.py
  tools/po_autofill_en.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/sitemaps.py
  swapers/urls.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  .gitignore
  add.md
  app_main/sitemaps.py
  docs/40-i18n.md
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  .gitignore
  app_main/admin.py
  app_main/migrations/0004_sitesetup_robots_txt_alter_sitesetup_admin_path.py
  app_main/models.py
  app_main/views.py
  swapers/settings/prod.py
  swapers/urls.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/admin.py
  app_main/migrations/0005_sitesetup_updated_at.py
  app_main/models.py
  app_main/views.py
  swapers/settings/dev.py
  swapers/settings/prod.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/admin.py
  app_main/middleware_noindex.py
  app_main/models.py
  app_main/sitemaps.py
  app_main/tests/test_robots_txt.py
  app_main/tests/test_site_setup.py
  app_main/views.py
  swapers/settings/base.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/migrations/0006_sitesetup_block_indexing.py
  app_main/tests/test_site_setup.py
  app_main/views.py
Due: i18n-python-no-raw-cyrillic

делаем сайт мультиязычным
  app_main/sitemaps.py
Due: i18n-python-no-raw-cyrillic

дополнили модель sitesetup
  app_main/admin.py
  app_main/context_processors.py
  app_main/migrations/0007_sitesetup_close_time_fri_sitesetup_close_time_mon_and_more.py
  app_main/models.py
  swapers/settings/base.py
  templates/base.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, base-must-include-base-css, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

немного подправил перевод и вернул потерявшийся account_delete.html
  app_main/forms.py
  app_main/tests/test_csp_header.py
  app_main/tests/test_seo_pytest.py
  app_main/tests/test_site_setup.py
  app_main/views.py
  docs/40-i18n.md
  locale/en/LC_MESSAGES/django.po
  locale/ru/LC_MESSAGES/django.po
  pytest.ini
  swapers/urls.py
  templates/account/account_delete.html
  templates/account/account_settings.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

Добавили в модель и админку поля для OG и твиттера
  app_main/admin.py
  app_main/forms.py
  app_main/migrations/0001_initial.py
  app_main/migrations/0002_user_language.py
  app_main/migrations/0003_sitesetup_domain_sitesetup_domain_view_and_more.py
  app_main/migrations/0004_sitesetup_robots_txt_alter_sitesetup_admin_path.py
  app_main/migrations/0005_sitesetup_updated_at.py
  app_main/migrations/0006_sitesetup_block_indexing.py
  app_main/migrations/0007_sitesetup_close_time_fri_sitesetup_close_time_mon_and_more.py
  app_main/models.py
  swapers/urls.py
Due: i18n-python-no-raw-cyrillic

Добавили в модель и админку поля для OG и твиттера
  app_main/context_processors.py
  templates/base.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, base-must-include-base-css, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

вывели на фронт все новые поля из админки
  app_main/context_processors.py
  app_main/models.py
  app_main/views.py
  templates/base.html
  templates/home.html
  templates/includes/_footer.html
  templates/includes/_nav.html
  templates/maintenance.html
Due: i18n-templates-no-raw-cyrillic, i18n-python-no-raw-cyrillic, templates-no-inline-assets, base-must-include-base-css, templates-no-cyrillic-filenames, templates-require-html-lang, templates-require-load-i18n

добавляем настройки для работы с сессиями
  app_main/admin.py
  app_main/middleware.py
  app_main/migrations/0002_sitesetup_admin_session_timeout_min_and_more.py
  app_main/models.py
  swapers/settings/base.py
Due: i18n-python-no-raw-cyrillic

добавляем настройки для работы с сессиями
  app_main/admin.py
  app_main/middleware.py
  app_main/migrations/0003_sitesetup_ref_attribution_window_days_and_more.py
  app_main/models.py
  app_main/signals.py
  app_main/tests/conftest.py
  app_main/tests/test_referral_and_bonus.py
  app_main/tests/test_referral_code.py
  app_main/tests/test_referral_cookie_and_metrics.py
  app_main/tests/test_seo_pytest.py
  docs/85-csp.md
  pytest.ini
  requirements.txt
  swapers/settings/base.py
Due: i18n-python-no-raw-cyrillic

исправляем тесты после добавления нового функционала
  app_main/middleware.py
  app_main/tests/test_referral_cookie_and_metrics.py
  app_main/tests/test_seo_pytest.py
  swapers/settings/base.py
Due: i18n-python-no-raw-cyrillic

исправляем тесты после добавления нового функционала
  app_main/admin.py
  app_main/forms.py
  app_main/models.py
  swapers/settings/base.py
Due: i18n-python-no-raw-cyrillic
